/*------------- poppins font family ---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/*--------- inter font family ------*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background: #AAAAAA;
    margin: 0;
    padding: 0;
}
.anchor{
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color:#FFFFFF;
    background: #E02C6D;
    border-radius: 41px;
    padding: 10px 24px;
    margin-top: 16px;
}
.fa-arrow-right{
    margin: 0px 8px;
    
}
/*-------- header section ------*/
header{
    margin-left: 120px;
    margin-top: 50px;
}

h4{
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

/*------ intro section starts ---------- */

.intro-container{
    display: flex;
    margin-top: 70px;
}
.intro{
    margin-left: 125px;
}
.intro.details{
    Width:582px;
    Height :270px;
}
.intro.details h1{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 0;
}
.intro.details p{
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;
}
.intro.img{
    Width : 440px;
    Height : 414px;
    animation: slider 5s infinite;
}
/*------ animation ------*/
@keyframes slider {
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    50%{
        transform: translateX(-55px);
        opacity: 1;
    }
    100%{
        transform: translateX(-55px);
        opacity: 1;
    }
    
}

/*-------- intro section ends ---------*/

/*-------- collection section starts ----------*/
.collection-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    position: relative;
   
}
.collection-container h2{
    font-size : 28px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 30px;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 1047px;
    height: 1662px;
   
   
}
.collection{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    height: 476px;
}
.collection h3{
    font-size: 28px;
    font-weight: 500;
    color:#18191F;
    margin-top: 16px;
    margin-bottom:0;

}
.price{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    margin-bottom: 2px;
}
.fa-star {
    font-size: 10px;
}
.fa-star.filled {
    color: orange;
}
.fa-star.empty{
    color: gray;
}
.rating span {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin-left: 5px;
    color: #787885;
}
.pro-details{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
}
.collection-anchor{
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 16px;
    font-weight: 700;
    color: rgba(224, 44, 109, 0.87);
}

/*----------- collection section ends ------------*/

/*-------------- contact section Starts ----------*/
.contact-container{
    margin-top: 50px;
    padding: 20px;
}
.contact-details{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*---------- contact section ends ------------*/

/*----------- footer section ---------*/

footer{
    width: 100%;
    height: 180px;
    background-color:rgb(3, 3, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer h3{
    margin: 0;
} 
footer p{

    font-family: 'Inter', sans-serif;
    font-size: 12px;
    margin : 5px 0;
}
footer a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 5px;
}